<script src="https://code.highcharts.com/highcharts.js"></script>

<div class="layout layout--col layout--left gap--space-between">
  <div id="topRow" class="grid grid--cols-2">
    {% render 'profile', image: image, name: name, username: username, bio: bio, followed_users_count: followed_users_count, followers_count: followers_count %}

    <div id="TopStats" class="grid grid--cols-2">
      {% render 'pill_large', label: "Currently Reading", count: status_counts.currently-reading %}
      {% render 'pill_large', label: "Books Read", count: status_counts.read %}
      {% render 'pill_large', label: "Want To Read", count: status_counts.want-to-read %}
      {% render 'pill_large', label: "Did Not Finish", count: status_counts.did-not-finish %}
    </div>
  </div>

  {% assign title = '' %}
  <div id="bottomRow" class="grid grid--cols-1">
    {% if trmnl.plugin_settings.custom_fields_values.featuredArea == 'goals' %}
      {% assign title = 'Goals' %}
      {% render 'goals', goals: goals %}
    {% elsif trmnl.plugin_settings.custom_fields_values.featuredArea == 'recently_read' %}
      {% assign title = 'Recently Read' %}
      {% render 'bookshelf', books: recently_read, title: 'Recently Read' %}
    {% elsif trmnl.plugin_settings.custom_fields_values.featuredArea == 'currently_reading' %}
      {% assign title = 'Currently Reading' %}
      {% render 'bookshelf', books: currently_reading, title: 'Currently Reading' %}
    {% elsif trmnl.plugin_settings.custom_fields_values.featuredArea == 'shuffle_want_to_read' %}
      {% assign title = 'Shuffle Want To Read' %}
      {% render 'bookshelf', books: shuffle_want_to_read, title: 'Shuffle Want To Read' %}
    {% else %}
      {% assign title = 'Featured Area Not Set' %}
      <span class="label col--span-2 col--center" data-pixel-perfect="true">Featured Area Not Set</span>
    {% endif %}
  </div>
</div>

{% render 'title_bar', username: username, flair: flair, title: title %}