{% assign user = data.me[0] %}
<div class="layout layout--col layout--left gap--space-between">
  <div id="topRow" class="grid grid--cols-2">
    {% render 'profile', image: user.image.url, name: user.name, username: user.username, bio: user.bio, followed_users_count: user.followed_users_count, followers_count: user.followers_count %}

    <div id="TopStats" class="grid grid--cols-2">
      {% render 'pill_large', label: "Currently Reading", count: user.currently_reading.aggregate.count %}
      {% render 'pill_large', label: "Books Read", count: user.read.aggregate.count %}
      {% render 'pill_large', label: "Want To Read", count: user.want_to_read.aggregate.count %}
      {% render 'pill_large', label: "Did Not Finish", count: user.did_not_finish.aggregate.count %}
    </div>
  </div>
</div>

{% render 'title_bar', username: user.username, flair: user.flair, librarian: user.librarian_roles %}
