{% assign user = IDX_0.data.me[0] %}
<div class="layout layout--col layout--center gap--space-between">
  <div id="topRow" class="grid">
    {% render 'profile', image: user.image.url, name: user.name, username: user.username, bio: user.bio, followed_users_count:
    user.followed_users_count, followers_count: user.followers_count %}
  </div>

  <div class="w--full b-h-gray-5"></div>

  <div id="TopStats" class="grid grid--cols-2">
    {% render 'pill_large', label: "Currently Reading", count: user.currently_reading_count.aggregate.count %}
    {% render 'pill_large', label: "Books Read", count: user.read_count.aggregate.count %}
    {% render 'pill_large', label: "Want To Read", count: user.want_to_read_count.aggregate.count %}
    {% render 'pill_large', label: "Did Not Finish", count: user.did_not_finish_count.aggregate.count %}
  </div>
</div>
{% render 'title_bar', username: user.username, flair: blank, librarian: blank %}
