<script src="https://code.highcharts.com/highcharts.js"></script>

<div class="layout layout--col layout--center gap--space-between">
  <div id="topRow" class="grid">
    {% render 'profile', image: image, name: name, username: username, bio: bio, followed_users_count:
    followed_users_count, followers_count: followers_count %}
  </div>

  <div class="w--full b-h-gray-5"></div>

  <div id="TopStats" class="grid grid--cols-2">
    {% render 'pill_large', label: "Currently Reading", count: status_counts.currently-reading %}
    {% render 'pill_large', label: "Books Read", count: status_counts.read %}
    {% render 'pill_large', label: "Want To Read", count: status_counts.want-to-read %}
    {% render 'pill_large', label: "Did Not Finish", count: status_counts.did-not-finish %}
  </div>
</div>
{% render 'title_bar', username: username, flair: blank %}